/* styling our overall page */
body     {
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

/* styling our header */
h1   {
  background: #f2c4df;
  color: #f2c4df;
  padding: 20px 30px;
}

    h3{
      text-align: center;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #f2c4df;
      padding-top: 10px;
      padding-bottom: 10px;
    }

/* logo */
#logo         {
  display: block;
  color: #000000;
  text-decoration: none;
  width: 20%;
}
#logo img    {
  
  top: 0;
  left:0;
}
#logo span   {
  display: inline-block;
}

/* main navigation */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 12px;
  background-color:#f2c4df;
}

li {
  float: right;
}

li a {
  display: block;
  color: #000000;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #EFA2E5;
}
