/* styling our overall page */
body     {
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

/* styling our header */
h1   {
  background: #f2c4df;
  color: #f2c4df;
  padding: 20px 30px;
}

    h3{
      text-align: center;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #f2c4df;
      padding-top: 4px;
      padding-bottom: 4px;
    }

/* logo */
#logo         {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  width: 49%;
}
#logo img    {
  
  top: 0;
  left:0;
}
#logo span   {
  display: inline-block;
}

/* main navigation */
nav     {
  width: 50%;
  display: inline-block;
  text-align: right;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#f2c4df;
}

nav ul li {
  float: right;
}

nav ul li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #EFA2E5;
}
