/* resetting browser stuff */
*     {
  box-sizing: border-box;
}
html,
body   {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}


/* styling our overall page */
body     {
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

/* styling our header */
header   {
  background: #f2c4df;
  color: #f2c4df;
  padding: 20px 30px;
}

    h3{
      text-align: center;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #f2c4df;
      padding-top: 10px;
      padding-bottom: 10px;
    }

/* logo */
#logo         {
  height:100px;
  width: 100px;
  display:block;
  background-color: transparent;
  float:left;
}


/* main navigation */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 12px;
  background-color:#f2c4df;
}

li {
  float: right;
}

li a {
  display: block;
  color: #000000;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #EFA2E5;
}


